<p></p>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="100">
    <div class="mat-elevation-z8">
      <!--<table mat-table [dataSource]="dataSource">-->
      <table mat-table [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="uid">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <!--<td mat-cell *matCellDef="let element">{{ element.symbol }}</td>-->
          <td mat-cell *matCellDef="let element">{{ element.uid }}</td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="ufName">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.ufName }}</td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="ulname">
          <th mat-header-cell *matHeaderCellDef>Surname</th>
          <!--<td mat-cell *matCellDef="let element">{{ element.weight }}</td>-->
          <td mat-cell *matCellDef="let element">
            {{ element.ulname }}
          </td>
        </ng-container>

        <!-- Gender -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
        </ng-container>

        <!-- Age -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>Age</th>
          <td mat-cell *matCellDef="let element">{{ element.age }}</td>
        </ng-container>

        <!-- Username -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>
        <!-- Email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>

<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary">Action</button>
  </mat-card-content>
</mat-card>
